body{
    font-family: sans-serif; 
    background-color: ghostwhite; 
    box-sizing: border-box;
  }
   
  form{
     background-color: rgb(224, 223, 223);
     border-radius: 10px;
     color: rgb(255, 255, 255);
     font-size: 14px;
     padding: 20px;
     margin: 0 auto;
     width: 300px;
     border: 1px solid black;
  }
  input{
     border-radius: 3px;
     outline: none;
     margin-bottom: 10px;
   
     width: 280px;
     height: 30px;
  }
  .inputcss{
     border: solid 1px #ccc;
     padding: 10px;
  }
  .inputcss:focus{
     border-color:  rgb(124, 193, 250);
  }
  .center-content{
     text-align: center;
  }
  h1{
     text-align: center;
     
  }

  label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
    color: black;
}